<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infix.studentmanagement">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/inflex_edu_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/inflex_edu_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.infix.studentmanagement.activity.ChildListActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity"/>
        <activity
            android:name="com.infix.studentmanagement.activity.ClassExamResultActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.ClassExamScheduleActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.ClassExamActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity android:name="com.infix.studentmanagement.activity.ExamChooseActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.ActiveOnlineExamActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.OnlineExamActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.OnlineExamActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.AttendenceCalenderActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.TimelineActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity android:name="com.infix.studentmanagement.activity.TransportActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity"/>
        <activity android:name="com.infix.studentmanagement.activity.DormitoryActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity"/>
        <activity android:name="com.infix.studentmanagement.activity.IssuedBookActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.StudentLibraryActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity android:name="com.infix.studentmanagement.activity.StudentTeacherActivity" />
        <activity android:name="com.infix.studentmanagement.activity.StudentSubjectActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.NoticeActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.infix.studentmanagement.activity.NoticeDeatlsActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.NoticeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.HomeWorkActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.ClassRoutineActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.FeesActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.ProfileActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.HomeActivity" />
        <activity android:name="com.infix.studentmanagement.activity.ComplaintActivity" />
        <activity android:name="com.infix.studentmanagement.activity.VisitorActivity" />
        <activity android:name="com.infix.studentmanagement.activity.AdminSectionActivity" />
        <activity android:name="com.infix.studentmanagement.activity.InventoryActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.LibraryActivity"
            android:parentActivityName="com.infix.studentmanagement.activity.StudentLibraryActivity" />
        <activity android:name="com.infix.studentmanagement.activity.StudentListActivity" />
        <activity android:name="com.infix.studentmanagement.activity.LoginActivity" />
        <activity android:name="com.infix.studentmanagement.activity.HomeActivity" />
        <activity android:name="com.infix.studentmanagement.activity.BookDetailsActivity" />
        <activity
            android:name="com.infix.studentmanagement.activity.StudentInformation"
            android:parentActivityName="com.infix.studentmanagement.activity.StudentListActivity" />
        <activity android:name="com.infix.studentmanagement.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>