<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infix.edu">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/infix_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/infix_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.AddLibraryMemberActivity"></activity>
        <activity android:name=".activity.AddFeesActivity" />
        <activity android:name=".activity.FeesListActivity" />
        <activity android:name=".activity.FeesAdminActivity" />
        <activity android:name=".activity.AddBookActivity" />
        <activity android:name=".activity.LibraryAdminActivity" />
        <activity android:name=".activity.AdminStaffListActivity" />
        <activity android:name=".activity.AddVehicleActivity" />
        <activity android:name=".activity.AddRouteActivity" />
        <activity android:name=".activity.AdminTransportActivity" />
        <activity android:name=".activity.AddDormitoryActivity" />
        <activity android:name=".activity.AddDormitoryRoomActivity" />
        <activity android:name=".activity.AdminDormitoryDashActivity" />
        <activity android:name=".activity.AdminDormitoryActivity" />
        <activity android:name=".activity.AdminLeaveActivity" />
        <activity android:name=".activity.ContentListActivity" />
        <activity android:name=".activity.ContentAddActivity" />
        <activity android:name=".activity.TeacherContentActivity" />
        <activity android:name=".activity.LeaveListActivity" />
        <activity android:name=".activity.ApplyLeaveActivity" />
        <activity android:name=".activity.LeaveActivity" />
        <activity android:name=".activity.TeacherAttandenceActivity" />
        <activity android:name=".activity.AddHomeWorkActivity" />
        <activity android:name=".activity.HomeworkTeacherActivity" />
        <activity android:name=".activity.TeacherSubjectActivity" />
        <activity android:name=".activity.TeacherOwnRoutineActivity" />
        <activity android:name=".activity.TeacherClassRoutineActivity" />
        <activity android:name=".activity.TeacherRoutineSearchActivity" />
        <activity android:name=".activity.TeacherAcademicsActivity" />
        <activity android:name=".activity.TeacherStudentActivity" />
        <activity android:name=".activity.StudentSearchActivity" />

        <service android:name=".service.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.SensorService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.ParentsAboutActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ChildListActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassExamResultActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassExamScheduleActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassExamActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamChooseActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ActiveOnlineExamActivity"
            android:parentActivityName=".activity.OnlineExamActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OnlineExamActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AttendenceCalenderActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TimelineActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransportActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.DormitoryActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IssuedBookActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentLibraryActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentTeacherActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentSubjectActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NoticeActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".activity.NoticeDeatlsActivity"
            android:parentActivityName=".activity.NoticeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeWorkActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ClassRoutineActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FeesActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".activity.HomeActivity"
            android:screenOrientation="portrait" />

        <receiver android:name=".myconfig.MyReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.ComplaintActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VisitorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdminSectionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InventoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LibraryActivity"
            android:parentActivityName=".activity.StudentLibraryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BookDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StudentInformation"
            android:parentActivityName=".activity.StudentListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>